nav {
    background-color: deepskyblue;
    text-transform: uppercase;
    color: white;
    ul{
        display: table;
        table-layout: fixed;
        width: 100%;
        text-align: center;
        li{
            display: table-cell;
            text-align: center;
            border: 1px solid;
            a{
                padding: 1em;
                display: block;
            }
        }
    }
}
.border{
    ul{
        //border-collapse: collapse;
        border-spacing: 0.5em 1em;
        li{
            border: 2px solid white;
            border-radius: .5em;
        }
    }
}

.center{
    background-color: transparent;
    color: salmon;
    ul{
        width: auto;
        margin: 0 auto;
        li{
            border: 2x deepskyblue;

        }
    }
}
